/* Stylesheet by Kyle McNair, 2020 */
body{
    background-color:black 
}
.map{
    margin-left: 10px;
    border: medium solid #5a5a5a;
}
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
h1{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.4em;
}

.states {
    fill:#353333;
    stroke: #CCC;
    stroke-width: 2px;
}
/* Chicago Neighborhoods */
.community{
    fill:#C2A5CF;
    stroke: #000000;
    stroke-width: 1px
}
.LakeMichigan{
    fill:#C9D3D4; 
}
.chart {
    background-color: #808080;
    border: medium solid #5a5a5a;
    float: right;
    margin: 0px 10px 0 0;
}

.titleText {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.em;
    font-weight: bold;
}
.chartBackground {
    fill: rgba(128,128,128,.2);
}
.chartFrame {
    fill: none;
    stroke: #525252;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #525252;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 1em;
    fill: black;
    font-family: 'Heebo', sans-serif;
}
.numbers {
    fill: black;
    font-family: sans-serif;
    font-size: 0.5em;
    font-weight: bold;
}
.dropdown {
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: 10;
    font-family:  'Merriweather Sans', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}
.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: 'Heebo', sans-serif;
}
.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
    font-family: 'Merriweather Sans', sans-serif;
}
.plot{
    background-color: #808080;
    border: medium solid #5a5a5a;
    float: right;
    margin: 10px 10px 0 0;
    font-family: 'Merriweather Sans', sans-serif;
}
.plotAxis{
    font-family: 'Heebo', sans-serif;
    font-size: 0.6em;
}

.plotTitles{
    font-family: 'Heebo', sans-serif;
    font-size: 1.2 5em;
    font-weight: 650;
}
.credit{
    margin-top: 5px;
    margin-left: 10px;
    float: left;

}
.about{
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-family:  'Merriweather Sans', sans-serif;
    font-size: 1em;
    float: left;
    line-height: 4px;
}
a:link, a:visited {
    color: #79a6cf;
}