
/* Stylesheet by Kyle McNair, 2020 */
.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}
.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
h1{
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}
.states {
    fill:#353333;
    stroke: #CCC;
    stroke-width: 2px;
}
/* Chicago Neighborhoods */
.community{
    fill:#C2A5CF;
    stroke: #000000;
    stroke-width: 1px
}
.LakeMichigan{
    fill:#C9D3D4; 
}